<!DOCTYPE html>
<html>
	<head>
		<title>"contexto" | <%= @title %></title>
	</head>
	<body>
		<div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
	        <h1>contexto</h1>
	        <p>Searchify your App</p>
	      	<%= simple_form_for @advertisingkeyword do |f| %>
			  <%= f.input :keyword, label: 'Your keyword' %>
			  <%= f.input :score, label: 'Score' %>
			  <%= f.submit "Create"%>
			<% end %>
	      </div>
	</body>
</html>