<!DOCTYPE html>
<html>
	<head>
		<title>"contexto" | <%= @title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "bootstrap" %>
		<%= javascript_include_tag "jquery-1.4.2.min", "rails"%>

	</head>
	<body>
		<%=render "layouts/navbar"%>
		<%= yield %>
		<%=render "layouts/footer"%>
		<%= debug(params) if Rails.env.developement? %>
	</body>
</html>
