<!DOCTYPE html>
<html>
	<head>
		<title>"dxplorer" | <%= @title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "bootstrap" %>
	</head>
	<body>
		<%=render "layouts/navbar"%>
		<%= yield %>
		<%=render "layouts/footer"%>
	</body>
</html>
